<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ExibirFotoProdutoServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.produto.ExibirFotoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoSiteServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.produto.ListarProdutoSiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarFotoProdutoServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.produto.AtualizarFotoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoCompraServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.carrinho.AdicionarProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoCompraServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.carrinho.ListarProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaQuantidadeProdutoServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.carrinho.AtualizaQuantidadeProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoCarrinhoServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.carrinho.RemoverProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCompraPassoUm</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.compra.FinalizarCompraPassoUm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCompraPassoDois</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.compra.FinalizarCompraPassoDois</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarCompraServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.compra.SalvarCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCompraClienteServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.compra.ListarCompraClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/atualizarCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <url-pattern>/excluirProduto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/atualizarProduto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirFotoProdutoServlet</servlet-name>
        <url-pattern>/exibirFotoProduto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoSiteServlet</servlet-name>
        <url-pattern>/visualizarProduto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarFotoProdutoServlet</servlet-name>
        <url-pattern>/atualizarFotoProduto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoCompraServlet</servlet-name>
        <url-pattern>/adicionarProdutoCarrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoCompraServlet</servlet-name>
        <url-pattern>/listarProdutoCarrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaQuantidadeProdutoServlet</servlet-name>
        <url-pattern>/atualizarQuantidadeProdutoCarrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoCarrinhoServlet</servlet-name>
        <url-pattern>/removerProdutoCarrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCompraPassoUm</servlet-name>
        <url-pattern>/finalizarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCompraPassoDois</servlet-name>
        <url-pattern>/finalizarCompraP2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarCompraServlet</servlet-name>
        <url-pattern>/salvarCompraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCompraClienteServlet</servlet-name>
        <url-pattern>/listarMInhasCompras.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.do</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.categoria.AtualizarCategoriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/listarProduto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <url-pattern>/admin/adicionarProduto.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.categoria.ListarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispacheServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.acesso.DispacheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.acesso.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarAdministradorServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.administrador.DeletarAdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarAdministradorServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.administrador.AtualizarAdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarUsuarioServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.cliente.DeletarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.cliente.AtualizarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.categoria.DeletarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.acesso.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.produto.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.produto.AdicionarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.produto.DeletarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>br.com.smd.ecommerce.controlador.produto.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/listarCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispacheServlet</servlet-name>
        <url-pattern>/DispacheServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarAdministradorServlet</servlet-name>
        <url-pattern>/admin/deletarAdministrador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarAdministradorServlet</servlet-name>
        <url-pattern>/admin/atualizarAdministrador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarUsuarioServlet</servlet-name>
        <url-pattern>/deletarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <url-pattern>/atualizarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <url-pattern>/excluirCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home.do</url-pattern>
    </servlet-mapping>
</web-app>
